{% extends "base.html" %}

{% block title %}Детали сайта - Анализатор страниц{% endblock %}

{% block content %}
<h1>Сайт: {{ url[1] }}</h1>

<div class="table-responsive">
    <table class="table table-bordered table-hover text-nowrap" data-test="url">
        <tbody>
            <tr>
                <td>ID</td>
                <td>{{ url[0] }}</td>
            </tr>
            <tr>
                <td>Имя</td>
                <td>
                    <a href="{{ url[1] }}" target="_blank">{{ url[1] }}</a>
                </td>
            </tr>
            <tr>
                <td>Дата создания</td>
                <td>{{ url[2].strftime('%Y-%m-%d %H:%M:%S') }}</td>
            </tr>
        </tbody>
    </table>
</div>

<h2 class="mt-5 mb-3">Проверки</h2>
<form method="post" action="{{ url_for('check_url', id=url[0]) }}">
    <input type="submit" class="btn btn-primary" value="Запустить проверку">
</form>

{% if checks %}
<div class="table-responsive mt-3">
    <table class="table table-bordered table-hover mt-2" data-test="checks">
        <thead>
            <tr>
                <th>ID</th>
                <th>Код ответа</th>
                <th>h1</th>
                <th>title</th>
                <th>description</th>
                <th>Дата создания</th>
            </tr>
        </thead>
        <tbody>
            {% for check in checks %}
            <tr>
                <td>{{ check[0] }}</td>
                <td>{{ check[2] if check[2] else '' }}</td>
                <td>{{ check[3] if check[3] else '' }}</td>
                <td>{{ check[4] if check[4] else '' }}</td>
                <td>{{ check[5] if check[5] else '' }}</td>
                <td>{{ check[6].strftime('%Y-%m-%d %H:%M:%S') if check[6] else '' }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div class="alert alert-info mt-3">Проверок еще не было</div>
{% endif %}
{% endblock %}