{% extends "base.html" %}

{% block title %}Сайты - Анализатор страниц{% endblock %}

{% block content %}
<h1>Сайты</h1>

<div class="table-responsive">
    <table class="table table-bordered table-hover text-nowrap" data-test="urls">
        <thead>
            <tr>
                <th>ID</th>
                <th>Имя</th>
                <th>Последняя проверка</th>
                <th>Код ответа</th>
            </tr>
        </thead>
        <tbody>
            {% for row in table %}
            <tr>
                <td>
                    <a href="{{ url_for('get_url_page', id=row[0]) }}" class="text-decoration-none fw-bold">
                        {{ row[0] }}
                    </a>
                </td>
                <td>
                    <a href="{{ url_for('get_url_page', id=row[0]) }}" class="text-decoration-none">
                        {{ row[1] }}
                    </a>
                </td>
                <td>
                    {% if row[2] %}
                    {{ row[2].strftime('%Y-%m-%d %H:%M:%S') }}
                    {% else %}
                    —
                    {% endif %}
                </td>
                <td>
                    {% if row[3] %}
                    {{ row[3] }}
                    {% else %}
                    —
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}